.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.active {
  color: #37d1b7;
}
@media (max-width: 768px) {
  .header {
    display: flex;
    flex-direction: column;
    /* flex-direction: column-reverse; */
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    /* margin-top: 1rem; */
  }
  .nav-menu {
    gap: 16px;
  }
}
