.event-booklist-store {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  border-bottom: 2px solid #666;
  padding-bottom: 50px;
  margin-bottom: 50px;
}
.booked-id {
  border: 1px solid #05fad1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  margin-bottom: 1rem;
}

.store-right img {
  width: 400px;
  height: 100%;
}
.date-time span {
  font-size: 13px;
}
.date-time span:nth-child(1) {
  border-right: 2px solid #05fad1;
  padding-right: 7px;
  margin-right: 7px;
}
.guest,
.phone,
.email,
.location {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  margin-block: 24px;
}
@media (max-width: 768px) {
  .event-booklist-store {
    display: flex;
    /* flex-direction: column; */
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
  }
  .store-right img {
    width: 100%;
    height: 100%;
  }
  .store-left h3 {
    font-size: 21px;
  }
  .date-time {
    display: flex;
    flex-direction: column;
    /* flex-direction: column-reverse; */
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    margin-top: 1rem;
  }
  .date-time span:nth-child(1) {
    border-right: none;
    padding-right: none;
    margin-right: none;
  }
}
